@import "../../global.scss";

.contact {
  background-color: $mainBgColor4;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    @include mobile {
      flex: 0;
    }
  }

  img {
    height: 80%;
    width: auto;
    margin-left: 10%;
    margin-right: -10%;
    margin-top: 10%;
    border-radius: 50%;
    @media only screen and (max-width: 1120px) {
      height: 65%;
    }
    @media only screen and (max-width: 768px) {
      display: none;
      //display: block;
      //margin-left: auto;
      //margin-right: auto;
      //height: 70%;
      //width: auto;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 30px;
    color: $mainColor;
    text-decoration: underline;

    @include mobile {
      justify-content: center;
      text-align: center;
      position: inherit;
      margin-bottom: 100px;
    }
  }

  form {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include mobile {
      justify-content: center;
      margin-top: -80px;
    }
    @media only screen and (max-width: 1120px) {
      width: 70%;
      height: 70%;
    }

    input {
      width: 300px;
      height: 30px;
      @media only screen and (max-width: 1120px) {
        width: 250px;
        height: 25px;
        margin: 1rem;
      }
      font-size: 14px;
      @include mobile {
        width: 200px;
        height: 20px;
      }
    }

    textarea {
      width: 300px;
      height: 200px;
      @media only screen and (max-width: 1120px) {
        width: 250px;
        height: 150px;
      }
      font-size: 14px;
      resize: none;
      @include mobile {
        width: 200px;
        height: 100px;
        margin: 5px;
      }
    }
    .submitbutton {
      background-color: $mainColor;
      color: $mainBgColor;
      font-size: 20px;
      padding: 10px 25px;
      cursor: pointer;
      border: 1px $mainColor;
      transition: all 0.7s ease;
      display: inline-flex;
      overflow: hidden;
    }
    .submitbutton:hover {
      background-color: rgb(57, 192, 255);
      color: $mainColor;
      transition: all 0.7s ease;
    }
    span {
      color: green;
    }
  }
}
